<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>图片1.png</key>
			<dict>
				<key>width</key>
				<integer>523</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>523</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>图片1-1.png</key>
			<dict>
				<key>width</key>
				<integer>404</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>404</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>525</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>图片1-2.png</key>
			<dict>
				<key>width</key>
				<integer>281</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>281</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>931</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>图片1-3.png</key>
			<dict>
				<key>width</key>
				<integer>281</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>1214</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>head1.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>1497</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>图片2.png</key>
			<dict>
				<key>width</key>
				<integer>523</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>523</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>图片2-1.png</key>
			<dict>
				<key>width</key>
				<integer>404</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>404</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>525</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>图片2-2.png</key>
			<dict>
				<key>width</key>
				<integer>281</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>281</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>931</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>图片2-3.png</key>
			<dict>
				<key>width</key>
				<integer>281</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>1214</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>head2.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>1497</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>return.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>650</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>650</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>217</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>return_down.png</key>
			<dict>
				<key>width</key>
				<integer>650</integer>
				<key>height</key>
				<integer>650</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>650</integer>
				<key>x</key>
				<integer>652</integer>
				<key>y</key>
				<integer>217</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>pause.png</key>
			<dict>
				<key>width</key>
				<integer>419</integer>
				<key>height</key>
				<integer>418</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1304</integer>
				<key>y</key>
				<integer>217</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Matchman_blood&amp;energy_UI0.png</string>
			<key>realTextureFileName</key>
			<string>Matchman_blood&amp;energy_UI0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>